#button-container
  background: url("../../../assets/Silhouette.svg") no-repeat center
  background-size: 100% auto
  height: 500px
  width: 1700px
  //border: 2px solid black
  position: fixed
  left: 15px
  top: 15px

#container
  display: flex
  justify-content: center
  align-items: center

#inner-container
  width: 60%
  max-width: 100%
  min-height: 60%
  max-height: 100%

button
  position: absolute
  background: #aaaaaacc

#propulsion
  left: 6%
  top: 84%

#energy_production
  left: 20%
  top: 74%

#hotel_load
  left: 20.5%
  top: 28%

#aerodynamics
  left: 18.5%
  top: 19%

#hull
  left: 94.9%
  top: 84.6%

#navigation
  left: -0.5%
  top: 84%

#aftertreatment
  left: 10.7%
  top: 45%
