<div>
  <button mat-stroked-button id="propulsion" (click)="this.buttonView('propulsion', true)">Propulsion</button>
  <button mat-stroked-button id="energy_production">Energy<br/>production</button>
  <button mat-stroked-button id="hotel_load">Hotel<br/>load</button>
  <button mat-stroked-button id="hull">Hull</button>
  <button mat-stroked-button id="aerodynamics">Aerodynamics</button>
</div>
<!--<app-propulsion-menu *ngIf="this.propulsionView$ | async"></app-propulsion-menu>-->
<!--<app-sub-system-card [subSystem]="propeller"></app-sub-system-card>-->
<!--<app-dynamic-question [question]="question"></app-dynamic-question>-->
