<div id="button-container">
  <button mat-stroked-button id="propulsion"        (click)="buttonView('propulsion')">
    Propulsion
  </button>
  <button mat-stroked-button id="energy_production" (click)="buttonView('energy_production')">
    Energy<br/>production
  </button>
  <button mat-stroked-button id="hotel_load"        (click)="buttonView('hotel_load')">
    Hotel<br/>load
  </button>
  <button mat-stroked-button id="hull"              (click)="buttonView('hull')">
    Hull
  </button>
  <button mat-stroked-button id="aerodynamics"      (click)="buttonView('aerodynamics')">
    Aerodynamics
  </button>
</div>
<div [ngSwitch]="subSystemView$ | async" id="container">
  <div id="inner-container">
    <app-complex-sub-system-card *ngSwitchCase="'propulsion'" [subSystem]="propulsion" (close)="buttonView($event)" [(fullForm)]="propulsionForm"></app-complex-sub-system-card>
  </div>
</div>
